p{
font-size: 20px;
padding-left: 10px;
padding-right: 10px;
} /* added styling to the paragraph sections*/

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: rgb(161, 240, 223);
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .whatsapp {
    background: #20db3f;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
/*added a font size to the lists of the nav, and color*/
ol li {
    font-size: 20px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(110, 224, 57);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

ul.topnav li a:hover:not(.active) {background-color: #1bdb7b;}

ul.topnav li a.active {background-color: #1bdb7b;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
/*edited the h1 heading with centering text*/
h1 {
    text-align: center;
    
}

/*styled the h2 heading*/
h2 {
text-align: center;
font-family:Arial;
}
/*styled the h3 heading*/
h3{
    text-align: center;
    font-family:Arial;
}
/**/
div {
    text-align: justify;
}
footer {
    text-align: center;
    font-size: 20px;
    background-color: #6bfe3a;
    padding: 10px;
}/* styled the footer of the page with a background color, font size, and alignment*/

.news {
padding-top: 500px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1bbb43;
  color: white;
}
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
ul {
  list-style: none;
  padding: 20;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

/*Styles of the Business card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* Complete contact form margins*/
.contact_form{  
  width: 600px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #6ab7f5; 
  padding-left: 20px; 
  padding-right: 20px;
}

/* Spaces inside the contact form where clients put data into */
input{
  background-color: #fbfbfb; 
  width: 380px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ffffff; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

/**/
textarea{
  background-color: #fbfbfb; 
  width: 380px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ffffff; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}




button{
  height: 45px; 
  padding-left: 30px; 
  padding-right: 30px;
  margin-bottom: 20px; 
  margin-top: 10px;   
  padding-top: 15px;
  text-transform: uppercase;
  background-color: #1559d6; 
  border-color: #0c95f0; 
  border-style: solid; 
  border-radius: 5px;  
  border-width: 1px;
  width: 380px;   
  cursor: pointer;
}


button p{
  color: rgb(255, 255, 255); 
}


span{
  color: #000000; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}








































